a(href=""): i.fa.fa-bell
span.user-link
  a(href=""): i.fa.fa-user
  span.user-link-dropdown
    - var items = [["#profile","Profile"],["#settings","Settings"],["#logout","Logout"]]
    - each item in items
      a(href="#{item[0]}") #{item[1]}