nav.menu
  ul
    li
      a.main-link(href="#") Store
      a.short-menu-link(href="#"): i.fa.fa-bars

      ul.menu-second
        - var items = [["#dashboard","Dashboard"],["#products","Products"],["#categories","Categories"],["#users","Users"]]
        - each item in items
          li.menu-second-item
            a(href="#{item[0]}") #{item[1]}
        - end

        li.menu-second-item.login-buttons
          include login