@media (max-width: 560px) {
  $margin: 20px;

  .content,
  .footer,
  nav{
    width: 100%;
  }

  .footer{
    text-indent: $margin;
  }

  .content > *{
    margin-left: $margin;
    margin-right: $margin;
  }

  .header{
    nav{
      .main-link{
        margin-left: $margin;
      }
    }

    .short-menu-link{
      display: block;
      float: right;
      padding: 0 15px;
      margin-right: $margin;

      &:hover{
        background: $header-hover;

        + .menu-second{
          display: block;
        }
      }
    }

    .menu>ul>li .menu-second{
      display: none;
      clear: both;
      background: $header-hover;
      margin: 0;
      text-align: center;

      &:hover{
        display: block;
      }

      &-item{
        float: none;

        &.login-buttons{
          float: none;
          clear: both;
          display: block;
          width: 100%;
          border-top: 1px $header solid;

          .user-link-dropdown{
            right: 50%;
            margin-right: -50px;
          }
        }
      }
    }
  }

  .charts{
    .chart{
      width: 50%;
      padding-bottom: 10px;
    }
  }

  .products{
    table{
      border: 1px $header solid;

      .buttons{
        width: 40px;

        a{
          display: inline-block;
          margin: 0 0.6em 0 0;

          +a {
            margin: 0;
          }
        }
      }
    }
  }

  .readmore{
    margin-left: $margin;

    li{
      float: none!important;
      width: 100%;
      margin-left: 0!important;
      margin-right: 0!important;

      >a{
        width: 100%;
      }

      +li{
        margin-top: 20px;
      }
    }
  }
}