.charts
  - var charts=[{day:"Today",persent:10,color:"red"},{day:"Week",persent:75,color:"orange"},{day:"Month",persent:45,color:"green"},{day:"Year",persent:90,color:"blue"}]

  - each chart in charts
    a.chart(href="")
      span(class="chart-number #{chart.color} persent-#{chart.persent}")
        i #{chart.persent}
      span.chart-title #{chart.day}