.products
  table.tablesorter
    thead
      th #
      th
        label.checkbox
          input(type="checkbox",class="select-all")
          span
            i.fa.fa-square-o
            i.fa.fa-check-square-o
      th Product
      th Category
      th(colspan=2) Price
    tbody

      - var products = [{id:"01",name:"Bread",category:"food",price:"1"},{id:"02",name:"Milk",category:"food",price:"2"},{id:"03",name:"iPhone",category:"Electronics",price:"699"},{id:"04",name:"TV",category:"Electronics",price:"1099"},{id:"05",name:"F.Dostoevsky \"Crime and Panishment\"",category:"books",price:"8"}]
      - each product, i in products
        tr
          td.index #{i}
          td.check
            label.checkbox
              input(type="checkbox",class="select-product",name="products",value="#{product.id}")
              span
                i.fa.fa-square-o
                i.fa.fa-check-square-o
          td.name #{product.name}
          td.category #{product.category}
          td.price #{product.price}
          td.buttons
            a.del(href="")
              i.fa.fa-trash
              span Delete

            a.edit(href="")
              i.fa.fa-pencil
              span Edit