.charts{
  @include clear();

  .chart{
    $radius: 46px;
    display: block;
    float: left;
    width: 25%;
    text-align: center;
    color: $text;
    text-decoration: none;

    &:hover{
      .chart-number{
        @include round($radius+3);
        margin: -3px auto;

        &:after,
        &:before{
          @include round($radius+3);
        }


        &.persent-10{
          &:before{
            clip: rect(0, $radius+3, $radius+3, 0);
          }

          &:after{
            clip: rect(0, $radius+3, $radius+3, 0);
          }
        }

        &.persent-75{
          &:before{
            clip: rect(0, $radius+3, $radius*2+6, 0);
          }

          &:after{
            clip: rect(0, $radius+3, $radius*2+6, 0);
          }
        }

        &.persent-45{
          &:before{
            clip: rect(0, $radius+3, $radius+3, 0);
          }

          &:after{
            clip: rect(0, $radius+3, $radius*2+6, 0);
          }
        }

        &.persent-90{
          &:before{
            clip: rect(0, $radius+3, $radius*2+6, 0);
          }

          &:after{
            clip: rect(0, $radius+3, $radius*2+6, 0);
          }
        }

        > i{
          @include round($radius - 8);
        }
      }
    }

    &-number,
    &-title{
      display: block;
    }

    &-number{
      @include round($radius);
      margin: auto;
      background: $text;
      position: relative;

      &:after,
      &:before{
        content: " ";
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        @include round($radius);
      }

      &:before{
        background: $text;
        z-index: 10;
      }

      &.red:after{
        background: $red;
      }

      &.orange:after{
        background: $orange;
      }

      &.green:after{
        background: $green;
      }

      &.blue:after{
        background: $blue;
      }

      &.persent-10{
        &:before{
          clip: rect(0, $radius, $radius, 0);
          @include rotate(120);
        }

        &:after{
          clip: rect(0, $radius, $radius, 0);
          @include flip();
        }
      }

      &.persent-75{
        &:before{
          clip: rect(0, $radius, $radius*2, 0);
          @include rotate(-90);
        }

        &:after{
          clip: rect(0, $radius, $radius*2, 0);
          @include flip();
        }

        &.orange:before{
          background: $orange;
        }
      }

      &.persent-45{
        &:before{
          clip: rect(0, $radius, $radius, 0);
          @include rotate(-100);
        }

        &:after{
          clip: rect(0, $radius, $radius*2, 0);
          @include flip();
        }
      }

      &.persent-90{
        &:before{
          clip: rect(0, $radius, $radius*2, 0);
          @include rotate(-30);
        }

        &:after{
          clip: rect(0, $radius, $radius*2, 0);
          @include flip();
        }

        &.blue:before{
          background: $blue;
        }
      }

      > i{
        display: block;
        position: absolute;
        top: 11px;
        right: 11px;
        z-index: 11;
        @include round($radius - 11);
        background: $background;
        font-style: normal;
      }
    }

    &-title{
      padding-top: 10px;
    }
  }
}