.products{

  table{
    width: 100%;
    border-collapse: collapse;
    font-size: 80%;

    > tbody > tr{
      &:nth-child(2n+1){
        background: $header;
      }

      &:hover{
        .buttons{
          a{
            display: inline-block;
          }
        }
      }
    }

    > thead th.header{
      background: transparent;
    }
  }

  td,
  th{
    padding: 5px;
  }

  .price:after{
    content: "$";
  }

  .checkbox{
    display: inline-block;
    width: 16px;

    input{
      display: none;

      &:checked + span{
        .fa-check-square-o{
          display: inline-block;
        }

        .fa-square-o{
          display: none;
        }
      }

      + span{

        .fa-check-square-o{
          display: none;
        }

        .fa-square-o{
          display: inline-block;
        }
      }
    }
  }

  .buttons{
    width: 50px;
    text-align: center;

    a{
      display: none;
      text-decoration: none;
      color: $text;
      position: relative;
      margin: 0 0.5em;

      &:hover{
        >span{
          display: block;
        }
      }

      >span{
        display: none;
        position: absolute;
        top: 100%;
        right: 0;
        background: $text;
        padding: 3px;
        color: $background;
        @include border-radius(3px);

        &:before{
          content: " ";
          display: block;
          position: absolute;
          top: -5px;
          right: 3px;
          width: 0;
          height: 0;
          border-left: transparent 4px solid;
          border-right: transparent 4px solid;
          border-bottom: $text 5px solid;
        }
      }
    }
  }
}