.readmore{
  display: block;
  list-style-type: none;
  text-align: center;
  margin-left: 33.33%;
  margin-bottom: 60px;
  @include clear();

  li{
    display: block;
    width: 50%;

    >a{
      display: block;
      width: 90%;
      margin: auto;

      >img{
        display: block;
        width: 100%;
        @include blur(2);
      }

      &:hover >img{
        @include blur(0);
      }
    }
  }

  .left{
    float: left;
    margin-left: -100%;
    text-align: left;

    > a{
      margin-left: 0;
    }
  }

  .right{
    float: right;
    text-align: right;

    >a{
      margin-right: 0;
    }
  }

  .center{
    float: left;
  }
}