*{
  padding: 0;
  margin: 0;
}

html,
body,
.container{
  height: 100%;
}

body{
  background: $background;
  color: $text;
  text-align: center;
  @include font-size(16px);
  font-weight: normal;
  line-height: 1em;
  font-family: $font;

  > .container{
    height: auto;
    min-height: 100%;
  }
}

.content,
.footer,
nav{
  width: 90%;
  margin: auto;
  text-align: left;
  max-width: 1280px;
}

.content{
  padding: 5px 0 30px 0;
}

.title{
  display: block;
  @include font-size(26px);
  padding-bottom: 20px;
  margin: 60px 0 20px 0;
  border-bottom: 1px solid $header;
}

.footer{
  height: 30px;
  position: relative;
  margin-top: -30px;

  >a{
    margin-left: 0.3em;
  }
}

a{
  color: $link;
}