.header{
  background: $header;

  li{
    list-style-type: none;
  }

  a{
    color: $text;
    line-height: 40px;
    text-decoration: none;
  }

  .short-menu-link{
    display: none;
  }

  .menu{
    >ul>li{
      @include clear();

      .main-link{
        float: left;
        font-size: 20px;
        display: block;
        width: 60px;
      }

      .menu-second{
        margin-left: 60px;
        display: block;
        @include clear();

        &-item{
          display: inline-block;
          float: left;

          > a{
            display: block;
            padding: 0 15px;
            font-size: 90%;

            &:hover{
              background: $header-hover;
            }
          }

          &.login-buttons{
            float: right;
            position: relative;
            font-size: 80%;

            > a,
            .user-link > a{
              margin-bottom: -1px;
              display: inline-block;

              &:after{
                content: "▼";
                font-size: 50%;
                margin-left: 2px;
              }
            }

            .user-link{
              display: inline-block;

              &:hover{
                .user-link-dropdown{
                  display: block;
                }

                a{
                  background: $header-hover;
                }
              }

              >a{
                padding: 0 15px;
              }

              &-dropdown{
                display: none;
                position: absolute;
                right: 0;
                top: 100%;
                border: 1px solid $header-hover;
                border-top: 0;
                width: 100px;
                background: $header-hover;

                &:hover{
                  display: block;
                }

                a{
                  text-align: center;
                  line-height: 30px;
                  display: block;

                  &:hover{
                    background: $background;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}