$background: rgb(43,62,80);
$header: rgb(78,93,108);
$header-hover:rgb(72,85,99);

$red: rgb(217,83,79);
$orange: rgb(240,173,78);
$green: rgb(92,184,92);
$blue: rgb(91,192,222);

$text: #ffffff;
$link: rgb(223,105,58);

$font: 'Pt Sans',sans-serif;