doctype html
html
  head
    meta(charset="utf-8")
    title М.А. тестовое задание

    include templates/googlefonts

    link(href='/css/main.css', rel='stylesheet')
    script(type='text/javascript', src='/js/main.js')

  body

    .container

      include templates/header

      include templates/page/main

    include templates/footer